<%- include ("layout/header")%>

    <div class="product-section py-5 d-flex " style="flex-flow: wrap; justify-content: center;">
      <div class="col-md-12 text-center ">
    <div class="product-section py-5 d-flex " style="flex-flow: wrap; justify-content: center;">
      <div class="col-md-8 text-center">
        
      </div>
      </div>
      <div class="container rounded py-2 px-2 bg-light">
        <h1 >Cart Page</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th class="text-center" scope="col">Action</th>
              </tr>
            </thead>
            <% if (allitems!="") { %>
                <tbody>
                 <% allitems.forEach((element,index) => { %>
                       <tr>
                      <th scope="row"><%= index + 1 %></th>
                      <td><%= element.title %></td>
                      <td><%= element.price %></td>
                      <td class="text-center" >
                        <a href="/deleteCart/<%= element._id %> " class="btn btn-danger"><i class="fa-solid fa-trash"></i>Delete</a>
                      </td>
                    </tr>
                <% }); %>
                  </tbody>
                <%  }else{ %>
                  <tbody>
                    <tr>
                      <td class="text-center" colspan="12"><b >No items in your cart.</b> </td>
                    </tr>
                  </tbody>
                  <% } %>
       
          </table>

      </div>
    </div>

    <script>

    </script>
        <!-- Footer -->
        <%- include ("layout/footer")%>
